GOOGLE_SERVICE_ACCOUNT_JSON=jadwal-sekolah-502704-38aa5ab2c1cb.json
SPREADSHEET_ID=your_spreadsheet_id_here
APP_NAME=Sistem Penjadwalan Sekolah
APP_ENV=development
SESSION_SECRET=your_random_secret_key_minimum_32_characters_here
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
