# Dependencies
/vendor/

# Environment variables - JANGAN di-commit
/.env

# Google Service Account credentials - JANGAN di-commit
jadwal-sekolah-502704-38aa5ab2c1cb.json

# OS files
.DS_Store
Thumbs.db

# Editor
*.swp

# Uploads
/public/assets/uploads/

# Scratch / temp files
/scratch/
/log.txt